body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}

ul {
    list-style: none;
}

h1 {
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center
}