h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  font-weight: 600; }

.gallery-list {
  display: flex;
  flex-wrap: wrap; }

.gallery-image {
  height: 150px;
  width: 150px;
  filter: grayscale(100%); }
